@media only screen and (min-width: 300px) and (max-width: 1100px) {
    .resite {
        display: none !important;
    }

    .responsive {
        display: inline-block !important;
    }
    
    
    main {
        height: 100% !important;
        width: 100% !important;
    }
    
    .info-rated {
        display: flex;
        flex-direction: column;
        .info {
            width: 100% !important;
            text-align: center;
            margin-top: 50px;
            margin-left: auto !important;
            margin-right: auto !important;
            h1 {
                font-size: 25px !important;
            }
            p {
                font-size: 14px !important;
                line-height: 20px;
            }
        }
        .rated {
            width: 100% !important;
            margin: 0 !important;
            align-items: center !important;
            .rated-one {
                justify-content: center;
                flex-direction: column !important;
                height: 75px !important;
                width: 325px !important;
                margin: 0px !important;
                margin-top: 45px !important;
            }
            .rated-two {
                justify-content: center;
                flex-direction: column !important;
                height: 75px !important;
                width: 325px !important;
                margin: 0px !important;
                margin-top: 45px !important;
            }
            .rated-three {
                justify-content: center;
                flex-direction: column !important;
                height: 75px !important;
                width: 325px !important;
                margin: 0px !important;
                margin-top: 45px !important;
            }
        }
    }
    .opinion {
        display: flex;
        flex-direction: column;
        .opinion-one {
            margin-bottom: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
            max-width: 265px !important;
            width: 100% !important;
            max-height: 170px !important;
            padding: 40px 30px !important;
            min-width: auto !important;
            p {
                font-size: 12.8px;
            }
        }
        .opinion-two {
            margin-top: 0px !important;
            margin-bottom: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
            max-width: 265px !important;
            min-height: 170px !important;
            padding: 40px 30px !important;
            min-width: auto !important;
        }
        .opinion-three {
            margin-top: 0px !important;
            margin-bottom: 15px !important;
            margin-right: auto !important;
            margin-left: auto !important;
            max-width: 265px !important;
            min-height: 170px !important;
            padding: 40px 30px !important;
            min-width: auto !important;
        }
    }
}


